<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lib.circular.reveal">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CRMainAct" />
        <activity
            android:name=".demo1.Demo1_AppbarRevealAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".demo1.Demo1_LayoutRevealAct" />

    </application>

</manifest>
