<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lib.anim.transition">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TransMainAct" />
        <!--1 overridependingTransition-->
        <activity
            android:name=".demo1.Trans1Act"
            android:launchMode="singleInstance" />
        <activity android:name=".demo1.Trans2Act" />
        <!--2 windowAnimationStyle-->
        <activity
            android:name=".demo2.Demo2MainAct"
            android:launchMode="singleInstance" />

        <activity
            android:name=".demo2.DemoLeftAct"
            android:theme="@style/Left_style" />

        <activity
            android:name=".demo2.DemoRightAct"
            android:theme="@style/right_style" />

        <activity
            android:name=".demo2.DemoTopAct"
            android:theme="@style/top_style" />

        <activity
            android:name=".demo2.DemoBottomAct"
            android:theme="@style/bottom_style" />

        <activity
            android:name=".demo2.DemoAlphaAct"
            android:theme="@style/alpha_style" />

        <!--2 android.transition-->

        <!--Explode样式-->
        <activity android:name=".demo3.ExplodeDemoAct" />

        <!--Slide样式-->
        <activity android:name=".demo3.SlideDemoAct" />

        <!--style样式-->
        <activity
            android:name=".demo3.Demo3StyleAct"
            android:theme="@style/trans_alpha_demo3" />

        <!--xml样式-->
        <activity android:name=".demo3.Demo3xmlAct" />

        <activity android:name=".demo3.Demo3xmlAct2" />
        <!--code样式-->
        <activity android:name=".demo3.Demo3codeAct" />

        <activity android:name=".demo3.Demo3codeAct2" />

        <!--共享元素 android.transition-->

        <!--主界面-->
        <activity android:name=".demo3.Demo3MainAct" />

        <!--(1)单个元素的共享-->
        <activity
            android:name=".demo4.SEDemo4Act1"
            android:theme="@style/sharedElement_Style_01" />

        <activity
            android:name=".demo4.SEDemo4Act2"
            android:theme="@style/sharedElement_Style_01" />


        <activity
            android:name=".demo5.SEFragMainAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".demo6.BaseFragMainAct"
            android:screenOrientation="portrait" />

    </application>
</manifest>